body {
    background: #212121;
    color: #666;
}

h1 {
    text-align: center;
    color: #fff;
}

.clearfix {
    clear: both;
}

#box {
    width: 350px;
    overflow: auto;
    margin: 40px auto;
    background: #666;
    padding-bottom: 40px;
    border-radius: 10px;
}

#message {
    background: #333;
    color: #fff;
}

#gameBoard li {
    float: left;
    margin: 10px;
    height: 70px;
    width: 70px;
    font-size: 50px;
    background: #333;
    color: #ccc;
    list-style: none;
    text-align: center;
    border-radius: 5px;
}

#gameBoard li:hover, #reset:hover {
    cursor: pointer;
    background: #000;
}

#reset {
    border: 0;
    background: #444;
    color: #fff;
    width: 70%;
    padding: 15px;
    border-radius: 5px;
}

.o {
    color: green !important;
}

.x {
    color: red !important;
}

footer {
    display: block;
    text-align: center;
    padding-top: 20px;
}
